.login {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__logo {
  margin-bottom: 100px;
}

.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 500;
}

.login > button:hover {
  color: #000;
  background-color: #e2e2e2;
}