.login {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__logo {
  margin-bottom: 100px;
  width: 200px;
}

.login > button {
  width: 300px;
  background-color:#a5adb5;
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
}

.login > button:hover {
  color: #000;
  background-color: #e2e2e2;
}