.login {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__logo {
  margin-bottom: 100px;
  width: 200px;
}