@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.Profile {
  display: flex;
}

.Profile__left {
  min-width: 280px;
  flex-basis: 400px;
  position: sticky;
  align-self: flex-start;
  top: 0;
  overflow-y: hidden;
  height: 100vh;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
	  background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
  }

  &:hover {
    overflow-y: scroll;
  }
}

.Profile__right {
  background-color: #F6F6F9;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
}