.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: #F6F6F9;
  z-index: 999;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

nav > h3 {
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50px;
}