.post-form {
  display: flex;
  padding: 13px;
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #EBEBEB;
  box-shadow: 0 3px 1px #EBEBEB;
  font-weight: 400;
}

.post-form > form {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

.form__text-input {
  flex: 1;
  border: 0;
  background-color: transparent;
  outline-width: 0;
}

.form__upload-options {
  display: flex;
  align-items: center;
}

.form__upload-option {
  margin-left: 5px;
}

.form__upload-option .MuiIconButton-root {
  padding: 10px;
}

.form__live-input-options {
  display: flex;
  align-items: center;
}

.form__live-input-option {
  display: flex;
  padding: 13px;
  border-left: 1px solid #EBEBEB;
}

.form__live-input-option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}