.widgets {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 25px;
  min-width: 280px;
  flex-basis: 300px;
  max-width: 350px;
  margin-right: 35px;
}

@media (max-width: 899px) {
  .widgets {
    display: none;
  }
}