@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

.sidebar {
  background-color: #F2F2F5;
  /* margin-right: 40px; */
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 20%;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.logo {
  margin-bottom: 50px;
}

.menu, .shortcuts {
  display: flex;
  flex-direction: column;
}

.menu {
  margin-bottom: 40px;
}

.menu__item, .shortcut__item {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  position: relative;
  left: -20px;
  width: 250px;
  align-items: center;
}
.menu__item:hover, .shortcut__item:hover {
  background-color: #d7d7dc;
  cursor: pointer;
  font-weight: 700;
}

.menu__item > img, .shortcut__item > img {
  margin-left: auto;
}
.menu__item > .MuiSvgIcon-root, .shortcut__item > .MuiSvgIcon-root {
  margin-left: auto;
  font-size: 2rem;
  color: #ccc;
}

.menu__item:hover > .MuiSvgIcon-root, .shortcut__item:hover > .MuiSvgIcon-root {
  color: #000;
}

.icon {
  display: flex;
}

.menu > p, .shortcuts > p {
  font-weight: bold;
  margin-bottom: 30px;
}

.menu__item > p, .shortcut__item > p {
  position: absolute;
  left: 55px;
}